ion-button {  
    background-color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

ion-toolbar{
    --background: #FF6961;
    --color: #FFFFFF;
  }

  

    