<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Clothing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row no-padding>
      <ion-col size="6" offset="3">
        <img [src]="image" alt="this is the image" />
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col size="6" offset="3">
        <ion-button fill="outline" expand="block" size="small" (click)="openCam()">
          <ion-icon name="camera"></ion-icon>Take a Picture
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

    <ion-item>
      <ion-label position="floating" color="primary">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>

    <ion-list>
        <ion-list-header>Clothes Type</ion-list-header>
    
        <ion-item>
          <ion-label>Clothes</ion-label>
          <ion-select value="hat" okText="Okay" cancelText="Dismiss" formControlName="description">
            <ion-select-option value="hat">Hat</ion-select-option>
            <ion-select-option value="shirt">Shirt</ion-select-option>
            <ion-select-option value="pants">Pants</ion-select-option>
            <ion-select-option value="shoes">Shoes</ion-select-option>
          </ion-select>
        </ion-item>
      
      </ion-list>
   
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Create</ion-button>
  </form>
</ion-content>